dev.dietermai.sailaflash.persistence.xml/schema/sailaflash.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://dietermai.sailaflash.dev/1.0.0" 
	elementFormDefault="qualified" 
	targetNamespace="http://dietermai.sailaflash.dev/1.0.0">
	<xs:element name="sailaflash" type="Sailaflash" />

	<xs:complexType name="Sailaflash">
		<xs:all>
			<xs:element name="cards" type="Cards" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Cards">
	</xs:complexType>



</xs:schema>